@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body{
    color: #330005;

}
html{
    box-sizing: border-box;
}
*,*:after,*:before{
    box-sizing: inherit;
}
.container{
    /*display: flex;*/
    font-family: 'Karla';
    max-width: 960px;
    margin: 20px auto;
    background-color: #aeaeae;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 2);
}
#exampleModal{
    background-color: #aeaeae;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 2);
}

/*------------------*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */

}

.footer-text {

}

/*==========LogIng========*/

html{
    height: 100%;
}
body {
    background: #151515;  /* fallback for old browsers */
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #aeaeae;
    background-size: 20px 20px;
    font-size: 14px;
    background: rgba(63,60,79,1);
    background: -moz-linear-gradient(top, rgba(63,60,79,1) 0%, rgba(60,59,77,1) 100%);
    background: -webkit-linear-gradient(top, rgba(63,60,79,1) 0%, rgba(60,59,77,1) 100%);
    background: -o-linear-gradient(top, rgba(63,60,79,1) 0%, rgba(60,59,77,1) 100%);
    background: -ms-linear-gradient(top, rgba(63,60,79,1) 0%, rgba(60,59,77,1) 100%);
    background: linear-gradient(to bottom, rgba(63,60,79,1) 0%, rgba(60,59,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3c4f', endColorstr='#3c3b4d', GradientType=0 );
}
a{
    color: #3c3b4d;
}
a:hover{
    text-decoration: none;
}
.form {
    max-width: calc(100vw - 40px);
    width: 420px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 2);
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form:before{
    content: "";
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.form h2 {
    margin: 0;
    padding-bottom: 10px;
    color: #1e439b;
    font-size: 22px;
    border-bottom: 3px solid #ff5501;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}
label{
    text-transform: uppercase;
    font-weight: 700;
}
input {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #bebed2;
}
.form p:before {
    content: attr(type);
    display: block;
    margin: 10px 0 0;
    font-size: 13px;
    color: #5a5a5a;
    float: left;
    width: 40%;
}
button {
    padding: 8px 12px;
    margin: 4px 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
}
button:hover {
    background: #646171;
    color: #fff;
    border-color: #646171;
    box-shadow: 0px 0 5px 0 #646171;
}
.login-btn{margin-top: 50px;}

.relative{
    position: relative;
}
.relative i.fa{
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    color: #9b9aa3;
    text-align: center;
    border-radius: 0 4px 4px 0;
    transition: all 0.15s ease-in-out;
}
input:focus + .fa{
    color: #3e3b4e;
    transform: rotate(360deg);
}
.form-group{
    margin-bottom: 20px;
}
.form-control{
    font-size: 14px;
    padding-left: 40px;
    border: none;
    border-bottom: 1px solid #3c3b4d;
    border-radius: 0;
    background-color: transparent;
}
.form-control:focus{
    border-color: #1e439b;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 3px 4px -3px rgb(30, 102, 195);
    background-color: transparent;
}
.sign-up{
    margin-top: 30px;
    text-align: center;
    position: relative;
    margin-bottom: -15px;
}
hr{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}
/* --- Animated Buttons --- */
.movebtn{
    background-color: transparent;
    display:inline-block;
    width:100%;
    background-image: none;
    padding: 8px 10px;
    border-radius: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
}
.movebtnre {
    border: 2px solid #ff5501;
    box-shadow: inset 0 0 0 0 #ff5501;
    color:#ff5501;
}
.movebtnsu {
    border: 2px solid #3e3b4e;
    color: #ffffff;
    background-color: #3e3b4e;
}



/*==========ENND LOhinIN===========*/

/*=============Start MasterList==========*/
.profile-card {
    margin: 0 auto;
    background :#fff;
    width: 350px;
    height: 400px;
    z-index: 100;
    box-shadow: 0 3px 10px rgba(55,55,55,0.3);
}

.profile-card,
.profile-card header,
.profile-card header img,
.profile-card .profile-bio,
.profile-card .profile-social-links {
    overflow: hidden;
    position: relative;
    top: 0;
    -webkit-transition: all .47s ease-out;
    -moz-transition: all .47s ease-out;
    -ms-transition: all .47s ease-out;
    -o-transition: all .47s ease-out;
    transition: all .47s ease-out;
}

.profile-card:hover header,
.profile-card:hover .profile-bio,
.profile-card:hover .profile-social-links {
    /*top: -220px;*/
}

.profile-card header {
    width: 100%;
    max-height: 418px;
}

.profile-card header a:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 37%;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.57;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+13,000000+100&amp;0+13,0.7+100 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMyUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 13%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 13%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 13%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 13%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 13%,rgba(0,0,0,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
    -webkit-transition: all .47s ease-out;
    -moz-transition: all .47s ease-out;
    -ms-transition: all .47s ease-out;
    -o-transition: all .47s ease-out;
    transition: all .47s ease-out;
}

.profile-card:hover header a:before {
    opacity: 1;
}

.profile-card header h1 {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 27px;
    color: #fff;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    position: absolute;
    bottom: 55px;
    left: 30px;
    z-index: 10;
    cursor: pointer;
}

.profile-card header h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 300;
    letter-spacing: 0;
    font-size: 14px;
    color: #fff;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 10;
    cursor: pointer;
}

.profile-card header a {
    display: block;
    padding: 0;;
    margin: 0;
}

.profile-card header img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
}

.profile-card:hover header img {
    /*top: 170px;*/
}

.profile-bio p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 27px;
    color: #333;
    text-align: left;
    margin: 30px;
}

.profile-social-links {
    padding: 15px 30px;
    margin: 0;
    background: #f8f9fa;
}

.profile-social-links li {
    list-style: none;
    float: left;
    margin-right: 17px;
}

.profile-social-links li a {
    display: block;
    opacity: 0.4;
    -webkit-filter: brightness(0) invert(0);
    filter: brightness(0) invert(0);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.profile-social-links li a:hover {
    opacity: 1;
    -webkit-filter: brightness(1) invert(0);
    filter: brightness(1) invert(0);
}

.profile-social-links li img {
    display: block;
    width: 22px;
    height: auto;
}



